name: main build

on:
  pull_request:
  push:
    branches:
    - master

jobs:
  build:
    strategy:
      matrix:
        platform: [ubuntu-latest, windows-latest]

    runs-on: ${{ matrix.platform }}

    steps:
    - uses: actions/checkout@v5
    
    - name: Install Dotnet
      uses: actions/setup-dotnet@v5
      with:
        dotnet-version: |
          10.0.x
      
    - name: Build
      run: dotnet build
      
    - name: Test
      run: dotnet run --no-build --project SageFs.Tests -- --summary
      timeout-minutes: 10
